<mat-toolbar class="toolbarMenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><img src="../../assets/logo_easy.jpg"></mat-icon>
    </button>
    <span class="titleApp">EASYJOBS</span>
    <span class="example-spacer"></span>
    <button class="btToolbar" mat-button>INICIO</button>
    <button class="btToolbar"  mat-button>BUSQUEDA</button>
    <button class="btToolbar"  mat-button>PRIVACIDAD</button>
    <button class="btToolbar"  mat-button>REGISTRATE</button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><img src=""></mat-icon>
    </button>
</mat-toolbar>
