<div class="register-contract-worker">
    <mat-grid-list cols="1" rowHeight="100%" class="grid-page-principal">
    
        
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <mat-label class="titleForm">REGISTRA TU CONTRATO-WORKER</mat-label>
            <br>
            <br>
            <mat-form-field appearance="outline" class="fieldFormCU">
                <mat-label>Ingresa tu ID</mat-label>
                <input matInput placeholder="ID" formControlName="worker_id">
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="outline" class="fieldFormCU">
                <mat-label>Ingresa ID del contrato de servicio</mat-label>
                <input matInput placeholder="ID" formControlName="service_contract_id">
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="outline" class="fieldFormCU">
                <mat-label>MONTO</mat-label>
                <input matInput placeholder="Monto de Servicio" formControlName="monto">
            </mat-form-field>
            
            <div class="groupButton">
                <button mat-raised-button type="submit" color="primary">{{tipoAccion}}</button>
                <button mat-raised-button color="warn" routerLink="/nombreDeRuta">Cancelar</button>
            </div>
            <p>{{mensaje}}</p>
        </form>
    
    </mat-grid-list>
    </div>
    
